version: "3.9"
services:
  postgres:
    image: postgres
    ports:
      - "5432:5432"
    restart: always
    environment:
      - POSTGRES_USER=codetest
      - POSTGRES_PASSWORD=password
  pyspark:
    build: ./code
    volumes:
      - ./data:/data